{% extends "layout.html" %}

{% block content %}
{% for group in deadlines.open_groups|reverse %}
<div class="group">
  <div class="group-header">
    <h1 class="timer">[{{ group.pretty_deadline }}] {{ group.name }}</h1>
  </div>
  <div class="group-tasks">
    {% for task in group.tasks %}
    <a href="{{ task_base_url }}/{{ task.name }}/">
      <div class="task {{ 'solved' if task.name in task_scores else 'unsolved' }}">
        <div class="name">{{ task.short_name }}</div>
        <div class="score">{{ task_scores[task.name] if task.name in task_scores else task.current_score }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
